.title-lab {
    font-size: 21px;
    font-weight: bold;
}

.logo-lab {
    width: 100px;
    height: 100px;
}

label {
    font-weight: bold;
    font-size: 17px;
}

.btn {
    font-size: 17px;
    text-transform: none;
}

.form-control {
    font-size: 17px;
}

.alert {
    font-weight: bold;
    font-size: 17px;
}

table {
    font-size: 15px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 5.5vw !important;
    }
}